<div class="container">
    <h2>Modify Category</h2>
    <div class="position-relative">
        <div *ngIf="loading" class="loader-overlay">
            <img src="assets/loaderImage.gif"  class="loader-overlay" alt="loading" />
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form #updateCategoryTFForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(updateCategoryTFForm)" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="categoryName">Category Name:</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryName"
                            [(ngModel)]="category.categoryName" required minlength="3">
                        <div
                            *ngIf="updateCategoryTFForm.controls['categoryName']?.invalid && updateCategoryTFForm.controls['categoryName']?.touched">
                            <small class="text-danger"
                                *ngIf="updateCategoryTFForm.controls['categoryName']?.errors?.['required']">Category name
                                is
                                required.</small>
                            <small class="text-danger"
                                *ngIf="updateCategoryTFForm.controls['categoryName']?.errors?.['minlength']">Name must be
                                at least 3 characters
                                long.</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="categoryDescription">Category Description:</label>
                        <input type="text" class="form-control" id="categoryDescription" name="categoryDescription"
                            [(ngModel)]="category.categoryDescription" required minlength="3">
                        <div
                            *ngIf="updateCategoryTFForm.controls['categoryDescription']?.invalid && updateCategoryTFForm.controls['categoryDescription']?.touched">
                            <small class="text-danger"
                                *ngIf="updateCategoryTFForm.controls['categoryDescription']?.errors?.['required']">Category
                                description is required.</small>
                            <small class="text-danger"
                                *ngIf="updateCategoryTFForm.controls['categoryDescription']?.errors?.['minlength']">Name
                                must
                                be
                                at least 3 characters
                                long.</small>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="categoryId" name="categoryId"
                            [(ngModel)]="category.categoryId" >
                    <button type="submit" class="btn btn-primary" [disabled]="updateCategoryTFForm.invalid">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>