@using ClientApplicationCore.ViewModels
@model UpdateCategoryViewModel

<h2>Category Details</h2>
<div>
    <h4>Name: @Model.CategoryName </h4>
    <h4>Name: @Model.CategoryDescription</h4>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.CategoryId">Delete</a>
</p>
