<h1>Categories</h1>
<div *ngIf="loading">
<img src="assets/loaderImage.gif" alt="loading..." />
</div>
<table class="table" *ngIf="!loading">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!loading && !categories">
     <td>No record found...</td>
    </tr>
    <tr *ngFor="let category of categories">
      <td>{{category.categoryName}}</td>
      <td>{{category.categoryDescription}}</td>
      <td>
        <button class="btn btn-outline-info rounded-pill btn-sm" (click)="categoryDetails(category.categoryId)" >Details</button>
        <a  [routerLink]="['/modifyCategory',category.categoryId]">Edit</a>| 
        <a  [routerLink]="['/modifyCategoryrf',category.categoryId]">EditRf</a>| 
        <button class="btn btn-outline-danger rounded-pill btn-sm" (click)="confirmDelete(category.categoryId)" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<a [routerLink]="['/addCategory']">Add</a>|<a [routerLink]="['/addCategoryrf']">AddRF</a>
