<div class="container">
    <h2 class="text-center">Modify Category(RF)</h2>
    <div *ngIf="loading" class="loader-overlay">
        <img src="assets/loaderImage.gif"  class="loader-overlay" alt="loading" />
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                <input type="hidden" class="form-control" id="categoryId" formControlName="categoryId">
                <div class="mb-3">
                    <label for="categoryName" class="form-label">Category Name: </label>
                    <input type="text" class="form-control" id="categoryName" formControlName="categoryName">
                    <div *ngIf="formControls['categoryName'].invalid && formControls['categoryName'].touched">
                        <small class="text-danger" *ngIf="formControls['categoryName'].errors?.['required']">
                            Category name is required
                          </small>
                        <small class="text-danger" *ngIf="formControls['categoryName'].errors?.['minlength']">
                            Category name must be at least 2 characters long
                        </small>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="categoryDescription" class="form-label">Category Description: </label>
                    <textarea class="form-control" id="categoryDescription" formControlName="categoryDescription"></textarea>
                    <div *ngIf="formControls['categoryDescription'].invalid && formControls['categoryDescription'].touched">
                        <small class="text-danger" *ngIf="formControls['categoryDescription'].errors?.['required']">
                            Category description is required
                          </small>
                        <small class="text-danger" *ngIf="formControls['categoryDescription'].errors?.['minlength']">
                            Category description must be at least 2 characters long
                        </small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Save</button>
                <a [routerLink]="['/categories']" routerLinkActive="router-link-active" >Back to list</a>

            </form>
        </div>
    </div>
</div>